.eye-icon {
    cursor: pointer;
    height: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#loginForm {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}